html,
body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  font-family: "OpenSans-CondLight", sans-serif;
}
@font-face {
  font-family: "OpenSans-CondLight";
  src: url("/fonts/OpenSans-CondLight.ttf");
  font-style: normal;
  font-weight:400;
  font-display: swap;
}
a {
  color: #13809cff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
