.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: #811818;
    height: 160px;
}

.footer p {
    color: #ffdd99
}
.footer a {
    color: #33c2e6;
}

@media screen and (max-width: 600px) {
    .footer {
        height: 400px;
        flex-direction: column;
    }
}
