.header {
    height: 150px;
    background-color: #961d1d;
    position:static;
}

.header h1 {
    padding-top: 20px;
    text-align:center;
    color: #e8cc76ff;
}

.header h2 {
    color: #e8cc76ff;
    text-align: center;
}