.head {
    display: flex;
    height: 150px;
    background-color: #f9f9f9;
    position:static;
}

.head header {
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 700px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.device img {
    filter: drop-shadow(3px 3px 2px #222);
    position: static;
}

@media screen and (max-width: 600px) {
    .header img {
        padding-right: 10%
    }
}
