.pic {
    margin: auto;
    max-width: 500px;
    max-height: 350px;
    border: 1px solid #13809cff;
}
@media screen and (max-width: 600px) {
    .pic {
        margin-left: 10px;
        margin-right: 10px;
    }
}