.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #782121;
  }
  
.nav li {float: left;}
  
.nav li a {
    display: block;
    color: #e8cc76ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover:not(.active) {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #e8cc76ff;
  }
  
  
  .nav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    .nav li.right, 
    .nav li {float: none;}
  }
