.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 320px;
    overflow: hidden;
    background-color: #811818;
  }
  
.nav li {
  float: left;
}

  
.nav li a {
    display: block;
    color: #ffdd99;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav li a:hover:not(.active) {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #ffdd99;
  }
  
  
  .nav li.right {float: right;}
  @media screen and (max-width: 1600px) {
    .nav li a {
      padding: 30px 15px;
    }
  }
  @media screen and (max-width: 1300px) {
    .nav li a {
      padding: 15px 10px;
    }
  }
  @media screen and (max-width: 800px) {
    .nav ul {
      padding-left: 240px;
    }
    .nav li a {
      padding: 10px 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .nav ul {
      padding-left: 10%;
    }
    .nav li.right, 
    .nav li {
      float: none;
    }
    .nav li a {
      padding: 8px 16px;
    }
  }
