.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 300px;
    overflow: hidden;
    background-color: #811818;
  }
  
.nav li {
  float: left;
}

  
.nav li a {
    display: block;
    color: #ffdd99;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav li a:hover:not(.active) {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #ffdd99;
  }
  
  
  .nav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    .nav li.right, 
    .nav li {float: none;}
  }
