.main h1 {
    text-align: center;
    color: #3c3c3c;
}
.main h3 {
    text-align: center;
    color: #3c3c3c;
}
.main p {
    font-size: 18px; 
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 600px) {
    .main p {
        margin-left: 7%;
        margin-right:7%;
    }
  }