.main h1 {
    text-align: center;
    color: #811818;
    margin-bottom: 100px;
    margin-top: 70px;
}
.main h3 {
    margin-left: 20%;
    color: #811818;
}
.main p {
    font-size: 18px; 
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.main ul {
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}
.main li {
    font-size: 18px;
}
@media screen and (max-width: 600px) {
    .main p {
        margin-left: 7%;
        margin-right:7%;
    }
    .main h1 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .main ul {
        margin-left: 10%;
        margin-right: 7%;
    }
  }
